@import "tailwindcss";

@theme {
  --color-brand-primary: #820ad1; /* O roxo oficial do Nubank */
  --color-brand-hover: #4f46e5;   /* O tom de transição para o toque */
  --color-dark-base: #0d0d12;    /* O fundo escuro profundo */
  --color-dark-card: rgba(255, 255, 255, 0.04); /* A base de vidro translúcida */
}